absl-py==0.11.0
APScheduler==3.6.3
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
cssselect==1.1.0
cssutils==1.0.2
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
fsspec==0.8.4
future==0.18.2
google-auth==1.23.0
google-auth-oauthlib==0.4.2
grpcio==1.33.2
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
jeepney==0.4.3
keyring==21.5.0
kiwisolver==1.3.1
knockknock==0.1.8.1
kornia==0.4.1
lxml==4.6.1
Markdown==3.3.3
matplotlib==3.3.2
matrix-client==0.3.2
networkx==2.5
numpy==1.19.4
oauthlib==3.1.0
packaging==20.4
Pillow-SIMD==7.0.0.post3
premailer==3.7.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
python-telegram-bot==13.0
pytorch-lightning==1.0.5
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scipy==1.5.4
SecretStorage==3.2.0
six==1.15.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tifffile==2020.10.1
torch==1.7.0+cu110
torchaudio==0.7.0
torchvision==0.8.1+cu110
tornado==6.1
tqdm==4.51.0
twilio==6.47.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11
Werkzeug==1.0.1
yagmail==0.14.245
zipp==3.4.0
